<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> MEAN </a>
    </div>
    <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active"> Home </a> </li>
        <li><a routerLink="/booklist" routerLinkActive="active"> Booking </a> </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
